<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <!-- <div style="background-image: url(images/fadedoven.jpg);"> -->


  <nav>
    <ul>
      <li><a href="/">Homepage</a></li>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
      <li><a href="/pizza-orders/new" >Order a pizza</a></li>

    </ul>
  </nav>
  <%= yield %>
  <!-- </div> -->
</body>
</html>
