body {

  background-image: url("images/fadedoven.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  width: 35%;
}



h1 {
  font-size: 8rem;
}

button {
  background: none;
  border: none;
  padding: 0;
    color: #069;
  text-decoration: underline;
  cursor: pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

label{
  font-size: 1.8rem;
}
input{
  font-size: 1.5rem;
}
select{
  font-size: 1.5rem;
}
p{
  font-size: 1.3rem;
}
a{
  font-size: 1.3rem;
}
